In [42]:
import pandas as pd
from sklearn import preprocessing
from sklearn.metrics import roc_auc_score
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

Получите значения AUC для различных моделей и их параметров.

In [23]:
data = pd.read_csv('adult.csv')
data.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

In [24]:
le = preprocessing.LabelEncoder()

In [25]:
data = data.apply(le.fit_transform) 
data.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,8,4,19329,1,6,4,7,3,2,1,0,0,39,39,0
1,21,4,4212,11,8,2,5,0,4,1,0,0,49,39,0
2,11,2,25340,7,11,2,11,0,4,1,0,0,39,39,1
3,27,4,11201,15,9,2,7,0,2,1,98,0,39,39,1
4,1,0,5411,15,9,4,0,3,4,0,0,0,29,39,0

In [38]:
y = data.income
y.head()

0    0
1    0
2    1
3    1
4    0
Name: income, dtype: int32

In [39]:
x = data.iloc[:,:-1]
x.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country
0,8,4,19329,1,6,4,7,3,2,1,0,0,39,39
1,21,4,4212,11,8,2,5,0,4,1,0,0,49,39
2,11,2,25340,7,11,2,11,0,4,1,0,0,39,39
3,27,4,11201,15,9,2,7,0,2,1,98,0,39,39
4,1,0,5411,15,9,4,0,3,4,0,0,0,29,39

In [43]:
X_train, X_test, Y_train, Y_test = train_test_split(x, y, test_size = 0.3, random_state = 0)

In [44]:
model = LogisticRegression()

In [45]:
model.fit(X_train, Y_train)

e:\Users\chefranov_as\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [46]:
predictions = model.predict_proba(X_test)

In [47]:
model.score(X_test, Y_test)

0.804886371391524

In [48]:
from sklearn.metrics import roc_auc_score

In [49]:
roc_auc_score( Y_test, predictions[:, 1] )

0.8160280428617368

In [50]:
from sklearn.metrics import auc

In [51]:
from sklearn.metrics import roc_curve

In [52]:
fpr, tpr, thres = roc_curve( Y_test, predictions[:, 1] )

In [53]:
auc( fpr, tpr )

0.8160280428617368

In [54]:
model1 = LogisticRegression( penalty = 'l1', C = 0.01 ).fit( X_train, Y_train )
predictions_1 = model1.predict_proba( X_test )

e:\Users\chefranov_as\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [55]:
model2 = LogisticRegression( penalty = 'l2', C = 0.01 ).fit( X_train, Y_train )
predictions_2 = model2.predict_proba( X_test )

e:\Users\chefranov_as\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [56]:
roc_auc_score( Y_test, predictions_1[:, 1] )

0.8449756028533282

In [57]:
roc_auc_score( Y_test, predictions_2[:, 1] )

0.8160167529713229

In [58]:
model3 = LogisticRegression( penalty = 'l1', C = 0.1).fit( X_train, Y_train )
predictions_3 = model3.predict_proba( X_test )
roc_auc_score( Y_test, predictions_3[:, 1] )

e:\Users\chefranov_as\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

0.8495343175631613

In [59]:
from sklearn.metrics import average_precision_score

In [60]:
average_precision_score( Y_test, predictions[:, 1] )

0.6277687250808056

In [61]:
average_precision_score( Y_test, predictions_1[:, 1] )

0.6713767818942552

In [62]:
average_precision_score( Y_test, predictions_2[:, 1] )

0.6280349853296943

In [63]:
average_precision_score( Y_test, predictions_3[:, 1] )

0.6761247836255163

In [64]:
from sklearn.model_selection import cross_val_score

In [75]:
cross_val_score( model, X_train, Y_train, cv = 7, scoring = 'accuracy' ).mean()

e:\Users\chefranov_as\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
e:\Users\chefranov_as\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
e:\Users\chefranov_as\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
e:\Users\chefranov_as\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
e:\Users\chefranov_as\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
e:\Users\chefranov_as\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
e:\Users\chefranov_as\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

0.8063123373945015

In [74]:
print(roc_auc_score( Y_test, predictions[:, 1], average='micro' ))
print(roc_auc_score( Y_test, predictions[:, 1], average='macro' ))
print(roc_auc_score( Y_test, predictions[:, 1], average='weighted' ))
print(roc_auc_score( Y_test, predictions[:, 1], average='samples' ))

0.8160280428617368
0.8160280428617368
0.8160280428617368
0.8160280428617368