In [ ]:
from surprise import KNNWithMeans, KNNBasic
from surprise import Dataset
from surprise import accuracy
from surprise import Reader
from surprise.model_selection import train_test_split
#pip install scikit-surprise #нет админ прав на установка С++ билдера =(

ПАКЕТ SURPRISE ITEM-BASED COLLABORATIVEFILTERING
#−используйте данные MovieLens1M
#−можно использовать любые модели изпакета
#−получите RMSE на тестовом сете 0.87 иниже

In [2]:
import pandas as pd

In [3]:
movies = pd.read_csv('movies.csv')
ratings = pd.read_csv('ratings.csv')

In [5]:
movies_with_ratings = movies.join(ratings.set_index('movieId'), on='movieId').reset_index(drop=True)
movies_with_ratings.dropna(inplace=True)

In [6]:
dataset = pd.DataFrame({
    'uid': movies_with_ratings.userId,
    'iid': movies_with_ratings.title,
    'rating': movies_with_ratings.rating
})

In [7]:
dataset.head()

    uid               iid  rating
0   1.0  Toy Story (1995)     4.0
1   5.0  Toy Story (1995)     4.0
2   7.0  Toy Story (1995)     4.5
3  15.0  Toy Story (1995)     2.5
4  17.0  Toy Story (1995)     4.5

In [ ]:
reader = Reader(rating_scale=(0.5, 5.0))
data = Dataset.load_from_df(dataset, reader)

In [ ]:
trainset, testset = train_test_split(data, test_size=.15)

In [ ]:
algo = KNNWithMeans(k=200, sim_options={'name': 'pearson_baseline', 'user_based': True})#менять модель\растояние\кол-во соседей
algo.fit(trainset)

In [ ]:
test_pred = algo.test(testset)

In [ ]:
accuracy.rmse(test_pred, verbose=True)

In [ ]:
algo = KNNWithMeans(k=200, sim_options={'name': 'pearson_baseline', 'user_based': False})#менять модель\растояние\кол-во соседей
algo.fit(trainset)

In [ ]:
test_pred = algo.test(testset)

In [ ]:
accuracy.rmse(test_pred, verbose=True)