In [15]:
import pandas as pd

Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [27]:
data = pd.read_csv('ratings.csv')

In [28]:
data = data[ (data['rating']==5.0) ]

In [29]:
data = data['movieId'].value_counts()
data.head(1)

318    153
Name: movieId, dtype: int64

По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [30]:
power = pd.read_csv('power.csv')

In [44]:
power = power[ ((power['country']=='Estonia') | (power['country']=='Latvia') | (power['country']=='Lithuania')) & ((power['category']==4) | (power['category']==12) | (power['category']==21))] #

In [49]:
power = power[ (power.quantity) > 0 & (power.year >= 2005) & (power.year <= 2010) ]

In [52]:
sum(power.quantity)

970728.0

Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):
https://fortrader.org/quotes
https://www.finanz.ru/valyuty/v-realnom-vremeni

In [56]:
url = 'https://fortrader.org/quotes'
htm = pd.read_html(url)[2]
htm

                          Type      Last     Chg.   Chg.%  Time
0      Серебро Цена на серебро    16.700  -0.3850 -2.2530   NaN
1      Платина Цены на платину   895.300 -13.8000 -1.5000   NaN
2    Палладий Цена на палладий  1758.600 -11.1500 -0.6300   NaN
3      Медь Цена меди на бирже     2.709  -0.0015 -0.0553   NaN
4  Золото Цена золота на бирже  1456.800 -11.5200 -0.7800   NaN