Задание 1

Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [2]:
import pandas as pd

In [6]:
rat1 = pd.read_csv('ratings.csv')
rat1.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [10]:
def class_ (row):
    if row['rating'] <= 2:
        return 'низкий рейтинг'
    elif row['rating'] <= 4:
        return 'средний рейтинг'
    else:
        return 'высокий рейтинг'

In [11]:
rat1['class'] = rat1.apply(class_, axis=1)
rat1.head()

   userId  movieId  rating  timestamp            class
0       1        1     4.0  964982703  средний рейтинг
1       1        3     4.0  964981247  средний рейтинг
2       1        6     4.0  964982224  средний рейтинг
3       1       47     5.0  964983815  высокий рейтинг
4       1       50     5.0  964982931  высокий рейтинг

Задание 2

Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

Результат классификации запишите в отдельный столбец region.

In [31]:
geo_data = {
            'Центр': ['москва', 'тула', 'ярославль'],

            'Северо-Запад': ['петербург', 'псков', 'мурманск'],

            'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
            }

In [33]:
geo_data['Центр']
type(geo_data)

dict

In [74]:
#'Центр' in geo_data.keys()
#.items()
#.values()
#'москва' in geo_data['Центр']
%time
for item in geo_data.items():
    if ('москва ' in item[1]):
        print(item[0])
        break

Wall time: 0 ns

In [114]:
geo_data_norm = {}

row = 'авито москва'

for item in geo_data.items():
    for el in item[1]:
        geo_data_norm[el] = item[0] # print(item[0], el)

In [115]:
geo_data_norm

{'владивосток': 'Дальний Восток',
 'москва': 'Центр',
 'мурманск': 'Северо-Запад',
 'петербург': 'Северо-Запад',
 'псков': 'Северо-Запад',
 'сахалин': 'Дальний Восток',
 'тула': 'Центр',
 'хабаровск': 'Дальний Восток',
 'ярославль': 'Центр'}

In [46]:
keyw = pd.read_csv('keywords.csv')
keyw.head(10)

                      keyword     shows
0                          вк  64292779
1               одноклассники  63810309
2                       порно  41747114
3                        ютуб  39995567
4                   вконтакте  21014195
5  одноклассники моя страница  19976138
6                        майл  15144673
7                       авито  14786593
8                  переводчик  14453469
9                      яндекс  13344734

In [116]:
def region_ (row):
    if 'москва' in row['keyword'] or 'тула' in row['keyword'] or 'ярославль' in row['keyword']:
        return 'Центр'
    elif 'петербург' in row['keyword'] or 'псков' in row['keyword'] or 'мурманск' in row['keyword']:
        return 'Северо-Запад'
    elif 'владивосток' in row['keyword'] or 'сахалин' in row['keyword'] or 'хабаровск' in row['keyword']:
        return 'Дальний Восток'
    else:
        return 'undefined'

In [117]:
def region_2 (row,de=geo_data_norm):
    for key in geo_data_norm.keys():
        if (key in row['keyword']):
            return geo_data_norm[key]
    return 'undefined'

In [118]:
def region_3 (row,de=geo_data):
    for item in de.items():
        for el in item[1]:
            if el in row['keyword']:
                return item[0]
    return 'undefined'

In [120]:
import time

In [126]:
start = time.time()
keyw['region'] = keyw.apply(region_, axis=1)
end = time.time()
print(end-start)

7.243534326553345

In [128]:
start = time.time()
keyw['region2'] = keyw.apply(region_2, axis=1)
end = time.time()
print(end-start)

7.364474296569824

In [129]:
start = time.time()
keyw['region3'] = keyw.apply(region_3, axis=1)
end = time.time()
print(end-start)

7.418455123901367

In [130]:
keyw.head()

         keyword     shows     region    region2    region3
0             вк  64292779  undefined  undefined  undefined
1  одноклассники  63810309  undefined  undefined  undefined
2          порно  41747114  undefined  undefined  undefined
3           ютуб  39995567  undefined  undefined  undefined
4      вконтакте  21014195  undefined  undefined  undefined

In [132]:
keyw[keyw['region']=='Центр'].head()

               keyword   shows region region2 region3
127       авито москва  979292  Центр   Центр   Центр
849    авито ярославль  209581  Центр   Центр   Центр
1259            москва  153050  Центр   Центр   Центр
1396   гисметео москва  140279  Центр   Центр   Центр
1482  госуслуги москва  133061  Центр   Центр   Центр

Задание 3 (бонусное)

Есть мнение, что “раньше снимали настоящее кино, не то что сейчас”. Ваша задача проверить это утверждение, используя файлы с рейтингами фильмов из прошлого домашнего занятия (файл ratings.csv из базы https://grouplens.org/datasets/movielens). Т. е. проверить верно ли, что с ростом года выпуска фильма его средний рейтинг становится ниже.

In [135]:
rat2 = pd.read_csv('ratings.csv')
mov = pd.read_csv('movies.csv')
rat2 = rat2.merge(mov, on='movieId', how='left')
rat2.head()

,userId,movieId,rating,timestamp,title,genres
0,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,1,3,4.0,964981247,Grumpier Old Men (1995),Comedy|Romance
2,1,6,4.0,964982224,Heat (1995),Action|Crime|Thriller
3,1,47,5.0,964983815,Seven (a.k.a. Se7en) (1995),Mystery|Thriller
4,1,50,5.0,964982931,"Usual Suspects, The (1995)",Crime|Mystery|Thriller

In [145]:
years = list(range(1950,2011))

In [150]:
def production_year (row, ls = years):
    for x in ls:
        if str(x) in row['title']:
            return x
    return 1900

In [151]:
rat2['year'] = rat2.apply(production_year, axis=1)
rat2.head()

,userId,movieId,rating,timestamp,title,genres,year
0,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995
1,1,3,4.0,964981247,Grumpier Old Men (1995),Comedy|Romance,1995
2,1,6,4.0,964982224,Heat (1995),Action|Crime|Thriller,1995
3,1,47,5.0,964983815,Seven (a.k.a. Se7en) (1995),Mystery|Thriller,1995
4,1,50,5.0,964982931,"Usual Suspects, The (1995)",Crime|Mystery|Thriller,1995

In [169]:
(
    rat2.groupby('year')#группирую по году
     .mean()[['rating']]#считаем среднее по рейтингу
     .reset_index()#убираем индекс
     .sort_values(by=['rating'], ascending = 0)#сортируем по убыванию
     .head()
)

    year    rating
8   1957  4.039535
5   1954  4.009191
13  1962  3.969466
3   1952  3.953125
23  1972  3.944293