In [2]:
import numpy as np
import pandas as pd

from sklearn.linear_model import LinearRegression

In [16]:
# Создаём сэмпл
n_samples = 500

age_owner = np.random.choice(40, n_samples) + 18
soft_skill = np.random.choice(9, n_samples)
hard_skill = np.random.choice(9, n_samples)
appearence = np.random.choice(9, n_samples)
exp = np.random.choice(40, n_samples)

salary = exp*100 + (hard_skill*soft_skill)*123

data = pd.DataFrame({'age_owner': age_owner, 'soft_skill': soft_skill, 'hard_skill': hard_skill, 'appearence': appearence, 'exp': exp, 'salary': salary})
data.head(5)

   age_owner  appearence  exp  hard_skill  salary  soft_skill
0         38           1   14           8    4352           3
1         56           2   34           8    3400           0
2         53           8    1           4    2068           4
3         54           6    4           6     400           0
4         35           1   11           2    2330           5

In [17]:
from sklearn.metrics import mean_absolute_error

X = data[['age_owner', 'appearence', 'exp', 'hard_skill', 'soft_skill']]
y = data['salary']
reg = LinearRegression().fit(X, y)
print('Weights: {}'.format(reg.coef_))
print('Bias: {}'.format(reg.intercept_))

pred_values = reg.predict(X)
print('Error: {}'.format(mean_absolute_error(pred_values, y)))

Weights: [ -3.1762284    2.46930473 102.47976869 457.33527702 495.63289645]
Bias: -1803.3204065275067
Error: 625.3448553461193

In [20]:
data.salary.mean()

3651.956

In [ ]:
#Модель с большой ошибкой, так как начала проверять все параметры

In [21]:
X = data[['exp', 'hard_skill', 'soft_skill']]
y = data['salary']
reg = LinearRegression().fit(X, y)
print('Weights: {}'.format(reg.coef_))
print('Bias: {}'.format(reg.intercept_))

pred_values = reg.predict(X)
print('Error: {}'.format(mean_absolute_error(pred_values, y)))

Weights: [102.50917906 456.50453728 496.40739894]
Bias: -1913.5824537756234
Error: 623.8698066544089

In [22]:
#Ошибка уменьшилась но не сильно. Так как убрали лишние переменные

In [23]:
# Создаем новый признак
data['mult_skill'] = data.hard_skill * data.soft_skill
data.head(5)

   age_owner  appearence  exp  hard_skill  salary  soft_skill  mult_skill
0         38           1   14           8    4352           3          24
1         56           2   34           8    3400           0           0
2         53           8    1           4    2068           4          16
3         54           6    4           6     400           0           0
4         35           1   11           2    2330           5          10

In [25]:
X = data[['exp', 'mult_skill']]
y = data.salary
reg = LinearRegression().fit(X, y)
print('Weights: {}'.format(reg.coef_))
print('Bias: {}'.format(reg.intercept_))

pred_values = reg.predict(X)
print('Error: {}'.format(mean_absolute_error(pred_values, y)))

Weights: [100. 123.]
Bias: -1.8189894035458565e-12
Error: 1.2491625511756865e-12

In [ ]:
#WIN =)